{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<title>ISHI-Sign</title>
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<link href="{% static 'events/home.css' %}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
	<div id="js-preloader" class="js-preloader">
		<div class="preloader-inner">
		  <span class="dot"></span>
		  <div class="dots">
			<span></span>
			<span></span>
			<span></span>
		  </div>
		</div>
	  </div>
<div id="wrapper1">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<img src="blue.png" alt="Logo">
				<h1>ISHI-Sign</h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/events" title="">Homepage</a></li>
					<li><a href="#" accesskey="3" title="">About Us</a></li>
					<li><a href="#" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="wrapper2">
		<div id="welcome" class="container">
			<div class="title">
				<h3>Welcome to ISHI-Sign</h3>
			</div>
			<p>This is <i><u>ISHI-Sign</u></i>, a web site that provides digital certificates, signatures and emails security services. </p>
		</div>
	</div>
	<div id="wrapper3">
		<div id="portfolio" class="container">
			<div class="title">
				<h2>Our Services</h2>
				<span class="byline">We provide you with all the necessary tools for management, automation, and integration to facilitate the deployment of a PKI infrastructure in your environment.</span> 
			</div>
		<div class="columns">

			<div class="column">
				<div class="box">
					<span class="icon">
						<i class="fa-sharp fa-solid fa-file-signature fa-2x"></i>
					</span>
					<h3>Digital signatures</h3>
					<p>Our comprehensive digital signature solution provides you with all the necessary elements to secure your electronic documents, ensure the authenticity of senders and recipients, counteract forgery attempts, and optimize the efficiency of your validation processes.</p>
					<a href="/signature" class="button button-small">Learn More</a> 
				</div>
			</div>
			<div class="column">
				<div class="box">
					<span class="icon">
						<i class="fas fa-check-circle fa-2x"></i>
					</span>
					<h3>Certificat Verification</h3>
					<p>We provide a robust certificate verification solution that ensures the authenticity and integrity of digital certificates, safeguarding against fraud and unauthorized access. </p>
					<a href="/verification" class="button button-small">Learn More</a>
				 </div>
			</div>
			<div class="column">
				<div class="box">
					<span class="icon">
						<i class="fa-solid fa-certificate fa-2x"></i>
					</span>
					<h3>Certificats </h3>
					<p>Our comprehensive security solution provides you with all the necessary elements to protect your internal and public servers, counter potential threat and your websites</p>
					<a href="/cert" class="button button-small">Learn More</a> 
				</div>
			</div>
		</div>

		</div>
	</div>
</div>
<div id="footer" class="container">
	<div class="title">
		<h2>Get in touch</h2>
		<span class="byline">Contact us for more informations</span> </div>
	<ul class="contact">
		<li id="git"><a href="#" class="icon icon-github"><span>Facebook</span></a></li>
		<li id="linked"><a href="#" class="icon icon-linkedin"><span>LinkedIn</span></a></li>
	</ul>
</div>
<div id="copyright" class="container">
	<p>&copy;All rights reserved. | Design by <a href="#" rel="nofollow">ISHI-SIgn</a>.</p>
</div>
<script src="https://kit.fontawesome.com/5c5aa0d474.js" crossorigin="anonymous"></script>
</body>
</html>
